.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


body {
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 600px;
  height: 100vh;
  background: #888;
  margin: auto;
  text-align: center;
}
.income-outcome {
  display: flex;
  background: #fff;
}
.income {
  flex:1;
  padding: 30px;
}

.outcome {
  flex:1;
  padding: 30px;

  border-left: 1px solid #000;
}
.history__heading {
  border-bottom: 1px solid #000;
}
.list-history {
  list-style: none;
  overflow: scroll;
  height: 300px;
}
.delete-btn {
}
.list-history__item {
  padding: 10px 0;
  background: #cccccc;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;

}
ul {
  padding-left: 0;
}
.add-transaction {
  width:100%;
  height: fit-content;
  border-bottom: 1px solid #000;

}
.input {
  width: 80%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
